/**
 * BackgroundPaths Styles
 */

.backgroundPaths {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.svg {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
